<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/recommed.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
    </style>
    <title>Seoul1ro team website</title>
  </head>

  <body>
    <div class="container">
      <div class="content">
        <h1 class="title">
          <img class="bg" src="static/img/cut_bg.png" />
          <br />
          <span class="title__">Recommend</span>
          <img class="pin" src="static/img/pin.png" />
        </h1>
        <div class="view__container">
          <div class="view__road">
            <div class="view__road__text">Road Only</div>
            <div>
              <img class="view__road__img" src="static/img/road_only.jpeg" />
            </div>
          </div>
          <div class="view__all">
            <div class="view__all__text">
              You have selected<span class="view_all_figure">Scale</span
              ><span class="view_all_figure">Area</span>
              <div class="view_all_box">
                <img class="view__all__img" src="static/img/image (1).png" />
              </div>
              <span class="view__all__idx">Dimension:0000</span>
              <span class="view__all__idx">Buildings:0000</span>
            </div>
          </div>
          <div class="view__building">
            <div class="view__building__text">Building Only</div>
            <div>
              <img
                class="view__building__img"
                src="static/img/road_only.jpeg"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
