{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> Junction X Seoul</h1>
    <h2> Seoul1ro team website</h2>
    <h3> 분석을 원하는 면적, 축척, 사진 입력</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p }}
        <button type="submit">제출</button>
    </form>

    <img src="/media/input/23879050_15_UDl2AFU.tiff" alt="불러오지 못했습니다"/>

    {% if result %}
        <h3> 분석 결과</h3>
        {{ result }}
        <br/>
        {{ result.Image.url }}
        <img src="{{ result.Image.url }}" alt="불러오지 못했습니다"/>
    {% endif %}
</body>
</html>